node_modules
dist
.quasar
.adonisjs

backend

.env
.env.local
.env.*.local

.git
.gitignore
.DS_Store

npm-debug.log
yarn-error.log
yarn-debug.log
*.log

.idea
.vscode
.fleet

coverage
.nyc_output

Dockerfile
Dockerfile.frontend
docker-compose.yml
.dockerignore
README.md
