node_modules
build
tmp/*
!tmp/.gitkeep
.adonisjs

.env
.env.local
.env.*.local

.git
.gitignore
.DS_Store

npm-debug.log
yarn-error.log
yarn-debug.log
*.log

.idea
.vscode
.fleet

tests
coverage
.nyc_output

Dockerfile
.dockerignore
